body {
    background: white url(../images/banner-bg_extended.png) no-repeat top left;
    background-size: cover;
    margin-left: 220px;
    margin-top: 75px;
    font-family: 'helvetica', 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

table {
    width: 90%;
}


tr:hover {
    background-color: rgba(255,255,255,0.25)
}

th, td {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

#data {
    text-decoration: none;
    color: white;

}


#menu {
    position: absolute;
    top: 75px;
    left: 0;
    width: 200px;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    margin: 10px;
    padding: 5px;
}

hr {
    border-top: 3px solid white
}





