<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<h1>
    Add New Question
</h1>
<form action="/add-question" method="POST">

    <label for="add_title">Title of the new question:</label><br>
    <textarea id="new_question_title" name="title" rows="4" cols="30" autofocus required></textarea><br><br>

    <label for="add_question">New question:</label><br>
    <textarea id="new_question" name="message" rows="4" cols="60" required>
    </textarea><br>
    <script>
        function openwnd() {
            window.open("selector");
        }
    </script>
    <input class="button" type="button" value="Choose Image" onclick="openwnd()">
    <br>
    <br>
    <input class="button" type="submit" value="Submit">
</form>

<div id="menu">
    <a style="text-decoration: none; color: white" href="/"> Go back to list </a>
</div>
</body>
</html>