<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<hr>
<table>
    {% set first = namespace(value=0) %}
    {% for question in questions %}
        {% if first.value == 0 %}
            {% set first.value = first.value + 1 %}
            {% for item in question.keys() %}
                {% if item != "image" %}
                    <th id="data">
                        {{ item }}
                    </th>
                {% endif %}
            {% endfor %}
        {% endif %}
        <tr>
            {% for key in question.keys() %}
                {% if key != "image" %}
                    <td>
                        <a id="data" href="/question/{{ question.id }}"> {{ question[key] }} </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<a id="menu" href="/add-question"> New question </a>
</body>
</html>