<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<table>
    <tr>
        {% for item in header %}
            <th>
                {{ item }}
            </th>
        {% endfor %}
    </tr>
    {% for question in questions %}
        <tr>
            {% for i in question.values() %}
                <td>
                    <a href="/question/{{ question.id }}"> {{ i }} </a>
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<a href="/add-question"> Add question </a>
</body>
</html>