<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Registration page</h1>
<form action="/registration" method="post">
    <label for="registration">Username</label>
    <input type="text" name="username" id="registration" autocomplete="off"><br>
    <label for="login">Password</label>
    <input type="text" name="password" id="registration" autocomplete="off">
    <button type="submit" name="submit">Submit</button>
</form>
</body>
</html>