<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<h1>Registration page</h1>
<h2>{{ message }}</h2>
<form action="/registration" method="post">
    <label for="registration">Username</label>
    <input type="text" name="username" id="registration" autocomplete="off"><br>
    <label for="login">Password</label>
    <input type="password" name="password" id="registration" autocomplete="off">
    <button type="submit" name="submit">Submit</button>
</form>
<a id="menu" href="/list">Go back to menu</a>
</body>
</html>