<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User menu</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>
{# Ide kell majd egy IF be vagyok jelentkezve, akkor:  #}
<div class="user-bar">
    <div class="dropdown">
        <h4>Logged in as <button class="dropbtn">User_name <img src="../static/images/caret-down-solid.svg" alt="Account information" height="16px" class="dropmark"></button></h4>
        <div class="dropdown-content">
            <a href="/">My profile</a> {# Ez fog oda irányítani, ahol a user saját kérdései, válaszai, reputációja van. #}
            <a href="/logout">Logout</a> {# Logout route, aztán tud redirectelni, vagy frissíteni arra az oldalra, ahol éppen állunk???  #}
        </div>
    </div>
</div>
{# ELIF nem vagyok bejelentkezve, ide jön egy sima login gomb #}
</html>