<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User menu</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>
{% if 'username' in session %}
    <div class="user-bar">
        <div class="dropdown">
            <h4>Logged in as
                <button class="dropbtn">{{ session.username }}</button>
            </h4>
            <div class="dropdown-content">
                <a href="/user/{{ user_id }}">My profile</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </div>
{% else %}
    <div class="user-bar">
        <div class="dropdown">
            <button class="loginbtn">Login</button>
            <div class="logincontent">
                <form id="loginform" action="/userbar" method="post">
                    <label for="login">Username</label>
                    <input type="text" name="username" id="login" autocomplete="off" required><br>
                    <label for="login">Password</label>
                    <input type="password" name="password" id="login" autocomplete="off" >
                    <br>
                    <button type="submit" name="submit">Log in</button>
                    <br>
                    <a style="float: right" href="/registration">Not registered yet?</a>
                </form>
            </div>
        </div>
    </div>
{% endif %}
</html>